h1{
    background: #4aaaa5;
    color: white;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}

h2{
    color: #4aaaa5;
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    border-bottom: solid;
}

header{
    background-color: #ffffff;
    border-bottom: 6px groove #cccccc;
    
}

footer{
    background-color: #666666;
    clear: both;
    position: fixed;
    bottom: 0%;
    max-width: 1920px;
    display: block;
    width:100%;
    border-top: solid, #4aaaa5;
}

footer p {
    text-align: center;
}
.header-navigation {
    position: absolute;
    top:0%;
    right:22%;
}

.header-navigation ul { 
    list-style: none;
}
.header-navigation ul li {
	display:inline-block;
	vertical-align:top;
	margin-left:8px;
	font-size:20px;
	line-height:4.5;
    color: gray;
}

.container {
  margin: 0 auto;
  width: 960px;
  background-color: #ffffff;
  border-color: #dddddd
}

#main-bio {
  float:left;
  width: 69%;
  border: solid gray;
}

#about-info {
  float: right;
  width: 30%;
  border: solid red;
}

#bio-image {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

.icons {
    margin: auto;
    width: 50px;
    height: 50px;
    background: white;
}
